*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

#guide{
    height: 100vh;
    width: 20vw;
    background-color: rgb(127, 165, 167);
}

#leaderboard{
    height: 100vh;
    width: 20vw;
    background-color: rgb(127, 165, 167);
}



#header{
    height: 10vh;
    width: 58vw;
    background-color: rgb(77, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

#game-name{
    font-family: Pixelify Sans;
}

#game-console{
    height: 76vh;
    width: 58vw;
    background-color: rgb(53, 87, 46);
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}

#social-links{
    height: 10vh;
    width: 58vw;
    background-color: rgb(77, 67, 67);
    border-radius: 20px 20px 0px 0px;
}